.similar-items-container {
   padding-top: 2rem;
   width: 600px;
   justify-content: center;
   text-align: center;
}


.similar-items-container h2{
    margin-right: 320px;
 }

.similar-items{
    padding: 0.5rem 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 65px;
    align-items: flex-start;
}

.similar-item{
    width: 200px;
    height: 100%;
    margin-bottom: 25px;
    cursor: pointer;
}

.similar-item-img-container{
    position: relative;
}

.similar-item-img-container img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.similar-item-product-price{
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
  }

  .similar-item-product-name{
    text-align: left;
  }

  