.mens-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
 
}

.mens-category-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.mens-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mens-img-container{
    position: relative;
}

.mens-all-img{
    width: 1200px;
    height: auto;
    position: relative;
}

.mens-img-container img{
    width: 400px;
    height: auto;
    position: relative;
}

.mens-img-container div{
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 8px 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.mens-special{
    position: relative;
   width: 100%;
}


.mens-special img{
   
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.all-button{
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-20%, -80%);
  width: 180px;
  background-color: black;
  color: white;
  padding: 18px 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.special-details{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special-details h2{
    font-size: 80px;
    color: white;
 }
    
 .special-details div{
    width: 180px;
    background-color: black;
    color: white;
    padding: 18px 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }
    