.div {
  height: 400px;
  width: 40%;
  line-height: 25px;
  text-align: left;
  position: absolute;
  left: 32%;
  right: 0;
}

.footerContaner {
  height: 500px;
  width: 100%;
  background-color: #a6a6a6c7;
}

.footer {
  gap: 50px;
  display: flex;
}

.footerDiv {
  margin-top: 40px;
  margin-left: 60px;
}

.footerDiv h3 {
  text-align: left;
  /* line-height: 25px; */
}

.footerDiv p {
  font-size: 12px;
  text-align: left;
  font-family: tahoma;
  font-size: 16px;
  cursor: pointer;
}

.footerInfo {
  margin-top: 20px;
  position: absolute;
  left: 20%;
  height: 50px;
  width: 790px;
}
