.container1 {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  bottom: 0;
}

.container1 h1 {
  font-size: 66px;
  font-weight: 600;
  font-family: tahoma;
  color: white;
}

.container1 p {
  font-size: 22px;
  color: white;
  font-family: tahoma;
  font-weight: 600;
  margin-top: -40px;
}

.container1 button {
  height: 46px;
  width: 200px;
  margin-left: 16px;
  cursor: pointer;
  background-color: black;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.globalContainer2 {
  position: relative;
}

.globalContainer2 img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.container2 {
  position: absolute;
  left: 80px;
  top: 20px;
}

.container2 h1 {
  font-size: 66px;
  font-weight: 600;
  font-family: tahoma;
  color: white;
}

.container2 p {
  position: absolute;
  left: 0;
  font-size: 22px;
  color: white;
  font-family: tahoma;
  font-weight: 600;
  margin-top: -40px;
}

.container2 button {
  position: absolute;
  left: 0;
  height: 46px;
  width: 200px;
  cursor: pointer;
  background-color: black;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.globalContainer3 {
  position: relative;
}

.container3 {
  position: absolute;
  left: 80px;
  top: 260px;
}

.container3 button {
  position: absolute;
  left: 0;
  height: 46px;
  width: 200px;
  cursor: pointer;
  background-color: black;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
